/*** Twitch Highlighted Chat - lite ***/
/*** By QuentinPerou ***/

/*  lite-v1.3  */

* {
    font-family: arial;
}

body {
    margin: 0;
    height: 100%;
}

.flexRowBetween {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    outline: none;
}

:root {
    --main-bg-color0: #34495E;
    --main-bg-color1: #273240;
    --main-bg-color2: #18181B;
    --main-text-color0: white;
    --main-text-color2: #bdc2c4;
    --main-color0: #161c22;
    --main-color2: #39c0d2;
    --main-color3: #47e9ff;
    --main-highlight-color: #755ebc;
    --main-highlight-read-color: #473c66;
}

.buttonStyle {
    border-radius: 20px;
    border: none;
    padding: 5px 12px;
    background-color: var(--main-color2);
    color: var(--main-color0) !important;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.buttonStyle:focus,
.buttonStyle:hover {
    background-color: var(--main-color3);
}

.inputStyle {
    outline: none;
    border-radius: 20px;
    border: none;
    padding: 5px 12px;
    background-color: var(--main-color2);
    color: var(--main-color0) !important;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
}

.inputStyle::placeholder {
    color: var(--main-bg-color0);
}

/*********************************************************/
/*                    SCROLLBAR CHROME                   */
/*********************************************************/
::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c9c9c9;
}

/*********************************************************/
/*                     ENTETE SITE                       */
/*********************************************************/
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color1);
    padding: 5px 10px;
    height: 50px;
    box-sizing: border-box;
}

header p,
header a {
    color: var(--main-text-color2);
}

#headerNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

#headerBurger {
    cursor: pointer;
    padding: 4px;
    /* background-color: brown; */
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#headerBurger.menuVisible {
    background-color: #8d8f917a;
}

#headerBurger div {
    width: 20px;
    height: 3px;
    background-color: var(--main-text-color0);
    border-radius: 2px;
    margin: 0 0 3px 0;
}

#headerBurger div:last-child {
    margin: 0;
}

#optionsDiv label[for] {
    margin: 0 8px 0;
    color: white;
    font-weight: normal;
}

#optionsDiv label[for]:nth-child(3) {
    margin: 0 8px 0 18px;
}

#optionsDiv #backToHomeButton {
    margin-left: 18px;
}

#optionsDiv div.flexRow div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*************** BOUTON THEME ***************/
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* The switch - the box around the slider */
.switchButton {
    position: relative;
    display: inline-block;
    width: 40px;
    min-width: 40px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switchButton input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-text-color2);
    transition: .4s;
}

/* point blanc*/
.slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-bg-color1);
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--main-color2);
}

input:checked+.slider:before {
    transform: translateX(18px);
}

/********** button label ***********/
.switchLabel {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translatex(-50%);
    /* width: max-content; */
    width: 170px;
    text-align: center;
    padding: 4px;
    color: var(--main-text-color0);
    background-color: var(--main-bg-color2);
    border-radius: 3px;
    display: none;
    z-index: 5;
}

.switchButton .slider:hover+.switchLabel {
    display: block;
}

/*********************************************************/
/*                          PAGE                         */
/*********************************************************/
main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: calc(100% - 50px);
    width: 100%;
    min-height: 150px;
}

.mainContainer {
    background-color: var(--main-bg-color0);
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.mainDiv {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.buttonBanerReward {
    height: 40px;
}

.mainDiv.divNotConnect {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #c9c9c9 transparent;
}

.homeNotCoContainer {
    color: var(--main-text-color0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageTitle {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.homeNotCoContainer h1 {
    text-decoration: underline;
    text-align: center;
}

.homeNotCoContainer p {
    text-align: center;
}


/******************* chat box *******************/
#hightlitedMessageChat {
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color1);
    border-radius: 10px;
}

.titleChat {
    height: 50px;
    background-color: var(--main-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.titleChat p {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.titleChat .extLink {
    color: inherit;
    text-decoration: inherit;
}

.chatMainContainer {
    position: relative;
    /* height: calc(100% - 63px); */
    height: calc(100% - 58px);
}

.chatContainer {
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    /* margin: 5px 5px 8px 0; */
    margin: 0 5px 8px 0;

    scrollbar-width: thin;
    scrollbar-color: #c9c9c9 transparent;
}

#chatGoToBottom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #18181bbd;
    color: var(--main-text-color0);
    padding: 8px 25px;
    cursor: pointer;
}

#chatGoToBottom p {
    margin: 0;
}

/******************* Message *******************/
.chat-lineMessage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.chat-lineNameDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4px;
}

.chat-lineNameDiv p {
    margin: 0 7px 0 0;
    color: var(--main-text-color2);
}

.chat-messageSeparator {
    margin: 0 3px;
    /* margin-top: 4px; */
    color: var(--main-text-color0);
    font-weight: bold;
}

.chat-lineName {
    font-weight: bold;
    color: var(--main-text-color0);
}

.chat-message {
    color: #fff;
    /* cursor: default; */
    padding: 2px;
    margin-right: 10px;
    box-sizing: border-box;
    margin-top: 3px;
    word-break: break-word;
    word-wrap: break-word;
}

.chat-message.chat-message-withEmote {
    margin-top: -1px;
}

.chat-message-highlighted.chat-message-withEmote {
    margin-top: -5px;
}

.chat-message-highlighted {
    border: 4px solid var(--main-highlight-color);
    background: var(--main-highlight-color);
    margin-top: 0;
}

.chat-message-highlighted[read] {
    background-color: var(--main-highlight-read-color);
    border-color: var(--main-highlight-read-color);
}

.chat-messageEmote {
    vertical-align: middle;
}

.chat-lineBadge {
    width: 20px;
    margin-right: 2px;
}

/*********************************************************/
/*                         NOTIF                         */
/*********************************************************/
#notifContainer {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
}

.oneNotifContainer {
    overflow: hidden;
}

.notif {
    background-color: var(--main-bg-color2);
    padding: 10px 50px;
    border-radius: 20px;
    z-index: 50;
    position: relative;
    top: 0;
    transition: top 400ms ease-in-out;
    margin-top: 5px;
    pointer-events: all;
    cursor: default;
}

.oneNotifContainer.hide .notif {
    top: -100px;
}

.notifTitle {
    color: var(--main-text-color0);
    font-size: 18px;
    font-weight: bold;
}


/*********************************************************/
/*                        FOOTER                         */
/*********************************************************/
footer {
    position: absolute;
    bottom: 0;
}

footer a {
    margin: 0 0 0 2px;
    font-size: 0.5rem;
    color: black;
    text-decoration: none;
}


/*********************************************************/
/*                      RESPONSIVE                       */
/*********************************************************/
@media screen and (max-width:750px) {
    #headerNav {
        top: 50px;
        width: 100%;
        position: absolute;
        left: 0;
        /* background-color: var(--main-bg-color2); */
        background-color: var(--main-bg-color0);
        padding: 5px;
        box-sizing: border-box;
        flex-wrap: wrap;
        display: none;
        box-shadow: 0 5px 5px var(--main-bg-color2);
    }

    #headerNav.menuVisible {
        display: block;
    }

    #headerBurger.diplayOn {
        display: flex;
    }

    #optionsDiv div.flexRow {
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    #optionsDiv div.flexRow>* {
        margin: 4px 0;
        margin-right: 2%;
    }

    .switchLabel {
        left: inherit;
        right: 0;
        transform: inherit;
    }

    .pageTitle {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width:550px) {
    .chat-lineMessage {
        flex-direction: column;
    }

    .chat-lineNameDiv {
        margin-bottom: 4px;
    }
}

@media screen and (max-width:260px) {}